# Core
anthropic
bleak
langchain
langchain-anthropic
langchain-core
langchain-openai
langgraph
langgraph-prebuilt
pillow
python-dotenv
fastapi
uvicorn

# TTS
pyttsx3
elevenlabs
pyaudio
soundfile

# Observability
langfuse

# Testing
pytest

# Formatting
black