# Core
anthropic
bleak
langchain
langchain-anthropic
langchain-core
langchain-openai
langchain-openrouter
langgraph
langgraph-prebuilt
pillow
pymupdf
python-dotenv
fastapi
uvicorn

# TTS
pyttsx3
elevenlabs
pyaudio
soundfile

# Observability
langfuse

# Testing
pytest

# Formatting
black
